@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-family), Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-family: "Plus Jakarta Sans";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-brand: #9DC08B;
  --color-border-station: #9DC08B;
  --color-corner-cell: #f1f5ef;
  --color-corner-cell-text: #8cb764;
  --color-user-cell: #d2e3d2;
  --color-bg-color: #EDF1D6;
  --default-shadow: 0 0 10px #9DC08B;
}

.active-user-cell {
  background-color: var(--color-user-cell) !important;
}

body {
}

.bg-color {
  background-image: url("/public/images/bgg.png");
  background-repeat: repeat;
}

.user-has-a-card {
  border: solid;
  overflow: hidden;
}

.user-has-a-card:has(.right) {
  border-width: 2px 0 2px 2px;
}
.user-has-a-card:has(.left) {
  border-width: 2px 2px 2px 0;
}
.user-has-a-card:has(.top) {
  border-width: 0 2px 2px 2px;
}
.user-has-a-card:has(.bottom) {
  border-width: 2px 2px 0 2px;
}

.user-has-a-card > .marker {
  border-radius: 0 !important;
}


.

.cell:not(.transparent):not(.corner-cell) {
  cursor: pointer; /* Курсор в виде указателя */
}

.transparent-img {
  border: none;
  outline: none;
  box-shadow: none;
}

.board {
  grid-template-areas:
        "square-12 square-13 square-14 square-15 square-16"
        "square-11 center1 center1 center1 square-17"
        "square-10 center1 center1 center1 square-18"
        "square-9 center center center square-19"
        "square-8 center center center square-20"
        "square-7 center center center square-21"
        "square-6 center2 center2 center2 square-22"
        "square-5 center2 center2 center2 square-23"
        "square-4 square-3 square-2 square-1 square-0";
}

.square {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: .38rem;
  overflow: hidden;
  --special-square-border-size: .8rem;
}

.square-0 {
  grid-area: square-0;
}

.square-1 {
  grid-area: square-1;
}

.square-2 {
  grid-area: square-2;
}

.square-3 {
  grid-area: square-3;
}

.square-4 {
  grid-area: square-4;
}

.square-5 {
  grid-area: square-5;
}

.square-6 {
  grid-area: square-6;
}

.square-7 {
  grid-area: square-7;
}

.square-8 {
  grid-area: square-8;
}

.square-9 {
  grid-area: square-9;
}

.square-10 {
  grid-area: square-10;
}

.square-11 {
  grid-area: square-11;
}

.square-12 {
  grid-area: square-12;
}

.square-13 {
  grid-area: square-13;
}

.square-14 {
  grid-area: square-14;
}

.square-15 {
  grid-area: square-15;
}

.square-16 {
  grid-area: square-16;
}

.square-17 {
  grid-area: square-17;
}

.square-18 {
  grid-area: square-18;
}

.square-19 {
  grid-area: square-19;
}

.square-20 {
  grid-area: square-20;
}

.square-21 {
  grid-area: square-21;
}

.square-22 {
  grid-area: square-22;
}

.square-23 {
  grid-area: square-23;
}

.square-center {
  grid-area: center;
  font-size: clamp(16px, 1.8vw, 12px);
}
.square-center-area {
  color: #40513B;
  /*border: solid #9DC08B;*/
  border-width: 0 5px 5px 5px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee;
  font-size: clamp(10px, 4vw, 16px);
}

.infoCard {
  display: flex;
}
.infoInfoCard {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.font-bold {
  display: flex;
  align-items: center;
  font-size: clamp(8px, 4vw, 18px);
}

.infoInfoCard > span:has(.font-bold) {
  font-size: clamp(8px, 1.8vw, 11px);
}

.strokeSVG {
  width: 1em; /* Высота равна размеру текста */
  height: 1em;
}

.cardInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shadow {
  --tw-shadow: var(--default-shadow);
  --tw-shadow-colored: var(--default-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.priceCard {
  color: #eee;
  /*border-radius: 5px;*/
  height: 20%;
  /*background-color: #9DC08B;*/
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 7px 0 7px;
  justify-content: space-between;
  font-weight: 500;
}

.activityCard {
  display: flex;
  background-color: #cfcfcf;
  border-radius: 3px;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}
.activityCard:active {
  background-color: #B2B2B2;
}

@media (hover: hover) {
  ;
}
@media (hover: none) {
  .user-has-a-card:hover {
    --tw-shadow: none;
    box-shadow: none;
  }
}

.buttonBuy {
  padding: 2px;
}

.container {
  max-width: 95vw;
  max-height: 900px;
  width: auto !important;
  height: 100%;
  /*width: 100%;*/
  aspect-ratio: 6/10;
  margin: 0 auto 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
  gap: 3px;
  padding: 1px;
  aspect-ratio: 6 / 10;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(8px, 1.8vw, 11px);
  background-color: #fff;
  color: #7A8C65;
  border-radius: min(1vw, 6px);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.cell:has(.left) {
  flex-direction: row;
}
.cell:has(.top) {
  flex-direction: column;
}
.cell:has(.right) {
  flex-direction: row-reverse;
}
.cell:has(.bottom) {
  flex-direction: column-reverse;
}

.cell:has(.marker) {
  cursor: pointer;
}

.left_label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: #8DBE7B;
  width: 25%;
  border-radius: 0 20px 0 0;
  padding: 0 0 0 15px;
  font-weight: 500;
  font-size: clamp(16px, 1.8vw, 12px);
}
.right_label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background-color: #8DBE7B;
  border-radius: 20px 0 0 0;
  width: 25%;
  padding: 0 15px 0 0;
  font-weight: 500;
  font-size: clamp(16px, 1.8vw, 12px);
}

.header-text {
  font-weight: 500;
}

.corner-cell {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-weight: bold;
}

.corner-cell.start {
  background-color: var(--color-corner-cell);
  color: var(--color-corner-cell-text);
}
.corner-cell.jail {
  background-color: var(--color-corner-cell);
  color: var(--color-corner-cell-text);
}
.corner-cell.parking {
  background-color: var(--color-corner-cell);
  color: var(--color-corner-cell-text);
}
.corner-cell.go-to-jail {
  background-color: var(--color-corner-cell);
  color: var(--color-corner-cell-text);
}

.corner-icon {
  font-size: clamp(12px, 2.5vw, 20px);
  margin-bottom: 5%;
}

.transparent { background-color: transparent; }

.marker {
  /*position: absolute;*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.marker.right {
  right: 0;
  width: 15%;
  height: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.marker.left {
  left: 0;
  width: 15%;
  height: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.marker-text {
  font-size: clamp(14px, 1.8vw, 12px);
  font-weight: 500;
}

.marker.left .marker-text {
  /*transform: rotate(180deg);*/
}

.marker.top {
  top: 0;
  height: 15%;
  width: 100%;
}

.marker.bottom {
  bottom: 0;
  height: 15%;
  width: 100%;
}

.bottom .marker-text {
}

.pink { background-color: #ffc0cb; border-color: #ffc0cb; }
.light-green { background-color: #8AB17D; border-color: #8AB17D; }
.blue { background-color: #0087DB; border-color: #0087DB; }
.brown { background-color: #a52a2a; border-color: #a52a2a; }
.light-red { background-color: #F4A261; border-color: #F4A261; }
.green { background-color: #159115; border-color: #159115; }
.yellow { background-color: #ffff00; border-color: #ffff00; }
.gray { background-color: #d3d3d3; border-color: #d3d3d3; }

.pink-border { border-color: #ffc0cb; }
.light-green-border { border-color: #8AB17D; }
.blue-border { border-color: #0087DB; }
.brown-border { border-color: #a52a2a; }
.light-red-border { border-color: #F4A261; }
.green-border { border-color: #159115; }
.yellow-border { border-color: #ffff00; }
.gray-border { border-color: #d3d3d3; }

.info {
  font-size: clamp(12px, 2vw, 13px);
  line-height: 1.2;
}

.bought {
  font-size: clamp(8px, 1.8vw, 11px);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  z-index: 1;
  /*padding: 2%;*/
  align-content: space-between;
  justify-content: space-between;

}

.details.top {
  width: 100%;
  height: 100%;
  /*margin-top: 15%;*/
  flex-direction: column;
}
.details.bottom {
  width: 100%;
  height: 100%;
  /*margin-bottom: 15%;*/
  flex-direction: column-reverse;
}
.details.left {
  width: 100%;
  height: 100%;
  /*margin-left: 15%;*/
  flex-direction: row;
}
.details.right {
  width: 100%;
  height: 100%;
  /*margin-right: 15%;*/
  flex-direction: row-reverse;
}

.details.top > .marker-text {
}
.details.bottom > .marker-text {
}
.details.left > .marker-text {
  transform: rotate(-90deg);
  transform-origin: center;
  display: flex;
  width: 30%;
  justify-content: center
}
.details.right > .marker-text {
  transform: rotate(90deg);
  transform-origin: center;
}

.infoarea {
  display: flex;
  padding: 6%;
}

.details.top > .infoarea {
  flex-direction: column;
}
.details.bottom > .infoarea {
  flex-direction: column;
}
.details.left > .infoarea {
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  height: 100%;
}
.details.right > .infoarea {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  height: 100%;
}

.station-top-left {
  border-left: var(--color-border-station) 7px solid;
  border-top: var(--color-border-station) 7px solid;
}
.station-top-right {
  border-top: var(--color-border-station) 7px solid;
  border-right: var(--color-border-station) 7px solid;
}
.station-bottom-left {
  border-left: var(--color-border-station) 7px solid;
  border-bottom: var(--color-border-station) 7px solid;
}
.station-bottom-right {
  border-bottom: var(--color-border-station) 7px solid;
  border-right: var(--color-border-station) 7px solid;
}



.yellow.marker {
  color: black;
  text-shadow: none;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 95vw;
    margin: auto auto auto auto;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .container {
    max-height: 95vh;
  }
}